body{
    font-family: Arial, Helvetica, sans-serif;
}
.head{
    background-color: red;
    color:white;
    text-align: center;
}
.head p{
    border:4px solid white;
    border-radius: 20px;
    display:inline-block;
    padding:10px;
    font-size:25px;
}
.banner{
    width:100%;
}
.banner p{
    display:inline;
}
.banner p.marioclub{
    font-size:1.3em;
}
section.banner{
    position:relative;
}
section.banner h2{
    position:absolute;
    top:100px;
    left:50px;
    background-color: orange;
    width:300px;
    color:white;
    text-align:center;
    padding:20px;
}
.welcome-text{
    background-color:orange;
    color:white;
    font-size:60px;
}
nav{
    background-color: lightgray;
    padding:20px;
    position:sticky;
    top:0px;
    z-index:1;
}
nav a{
    color:black;
    font-size:18px;
    text-decoration: none;
    width:24%;
    display:inline-block;
}
.thumbs{
    position:relative;
    left:15%;
}
.thumbs img{
    display:inline-block;
    width:400px;
    padding:20px;
}
.thumbs img:hover{
    position:relative;
    top:-5px;
}
footer{
    background-color: red;
    color:white;
    padding:15px;
    text-align: center;
}
.text{
    font-size:18px;
    background-color: lightgray;
    padding:20px;
    margin-top:20px;
}

/* Media Queries */
@media screen and (max-width:850px) {
    section.banner h2{
        position:absolute;
        top:25px;
        left:10px;
        background-color: orange;
        width:150px;
        color:white;
        text-align:center;
        padding:20px;
        font-size:15px;
    }

    .thumbs{
        position:relative;
        left:5%;
    }
}